.bike-video {
  padding-top: 120px;
  box-sizing: border-box;
  background: linear-gradient(to bottom, $dark2 88%, $white 88%);

  @media (max-width: $tabletMax) {
    padding-top: 70px;
    background: linear-gradient(to bottom, $dark2 83%, $white 83%);
  }

  @media (max-width: $mobileMax) {
    padding-top: 84px;
    background: linear-gradient(to bottom, $dark2 88%, $white 88%);
  }
}

.bike-video h2 {
  margin: 0 0 20px 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  text-align: center;
  color: $white;

  @media (max-width: $tabletMax) {
    font-size: 24px;
  }
}

.bike-video p {
  margin: 0 auto 56px auto;
  max-width: 340px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  color: $whiteOpacue07;

  @media (max-width: $tabletMax) {
    margin-bottom: 40px;
    max-width: 429px;
  }

  @media (max-width: $mobileMax) {
    margin-bottom: 53px;
    padding: 0 16px;
  }
}

.bike-video__video-wrapper {
  margin: 0 auto;
  position: relative;
  display: block;
  max-width: 929px;

  @media (max-width: $tabletMax) {
    padding: 0 132px;
    max-width: $tabletMax;
  }

  @media (max-width: $mobileMax) {
    padding: 0 15px;
    max-width: $mobileMax;
  }
}

.bike-video__video {
  display: block;
}

.bike-video__video img {
  display: block;
  background-color: $dark2;

  @media (max-width: $tabletMax) {
    max-width: 100%;
    height: auto;
  }
}

.bike-video__button {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  min-width: 65px;
  min-height: 65px;
  background-color: $teal;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    position: relative;
    left: calc(50% - 2px);
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-bottom: 12px solid $dark3;
    transform: rotate(90deg);
  }

  &:hover,
  &:focus {
    background-color: $dark3;
    outline: 2px solid $teal;

    &::before {
      border-bottom: 12px solid $teal;
    }
  }

  &:active {
    outline: 2px solid $tealOpacue05;
    &::before {
      border-bottom: 12px solid $tealOpacue03;
    }
  }

  @media (max-width: $tabletMax) {
    top: calc(50% - 47px);
    left: calc(50% - 45px);
    min-width: 90px;
    min-height: 90px;

    &::before {
      border: 12px solid transparent;
      border-bottom: 16px solid $dark3;
    }
  }

  @media (max-width: $mobileMax) {
    top: calc(50% - 35px);
    left: calc(50% - 33px);
    min-width: 65px;
    min-height: 65px;

    &::before {
      border: 10px solid transparent;
      border-bottom: 14px solid $dark3;
    }
  }
}
