.bike-video {
  padding-top: 120px;
  // min-height: 804px;
  background: linear-gradient(to bottom, $dark2 88%, $white 88%);

  @media (max-width: $tabletMax) {
    padding-top: 70px;
    // min-height: 498px;
  }

  @media (max-width: $mobileMax) {
    padding: 84px 16px 0 16px;
    // min-height: 432px;
  }
}

.bike-video__heading {
  margin: 0 0 20px 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  text-align: center;
  color: $white;

  @media (max-width: $tabletMax) {
    font-size: 24px;
  }
}

.bike-video__text {
  margin: 0 auto 56px auto;
  max-width: 340px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  color: $whiteOpacue07;

  @media (max-width: $tabletMax) {
    margin-bottom: 40px;
    max-width: 429px;
  }

  @media (max-width: $mobileMax) {
    margin-bottom: 50px;
  }
}

.bike-video__video-wrapper {
  margin: 0 auto;
  position: relative;
  display: block;
  width: min-content;
}

.bike-video__video img {
  @media (max-width: $tabletMax) {
    width: 503px;
    height: 282px;
  }

  @media (max-width: $mobileMax) {
    width: 288px;
    height: 162px;
  }
}

.bike-video__button {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  min-width: 65px;
  min-height: 65px;
  background-color: $teal;
  border: none;
  outline: none;
  border-radius: 50%;

  &::before {
    content: "";
    display: block;
    position: relative;
    left: calc(50% - 2px);
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-bottom: 12px solid $dark3;
    transform: rotate(90deg);
  }

  &:hover,
  &:focus {
    filter: grayscale(0.5);
  }

  &:active {
    filter: grayscale(0.8);
  }
}
