.bike-types {
  box-sizing: border-box;
  background-color: $grey;
}

.bike-types__wrapper {
  margin: 0 auto;
  padding: 155px 75px 100px 75px;

  @media (max-width: $tabletMax) {
    padding: 50px 89px 70px 89px;
  }

  @media (max-width: $mobileMax) {
    padding: 51px 25px 14px 25px;
  }
}

.bike-types h2 {
  margin: 0 0 51px 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  text-align: center;
  color: $dark;

  @media (max-width: $tabletMax) {
    margin-bottom: 31px;
    font-size: 24px;
    line-height: 41px;
  }

  @media (max-width: $mobileMax) {
    margin-bottom: 30px;
  }
}

.bike-types__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  @media (max-width: $mobileMax) {
    flex-direction: column;
    align-items: center;
  }
}

.bike-types__item {
  margin-bottom: 50px;
  position: relative;
  width: min-content;
}

.bike-types__item span {
  display: block;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.5px;
}

.bike-types__item--01 {
  padding-top: 10px;

  @media (max-width: $tabletMax) {
    padding: 0;
  }

  @media (max-width: $mobileMax) {
    margin-bottom: 41px;
  }
}

.bike-types__item--02 {
  padding-top: 39px;

  @media (max-width: $tabletMax) {
    padding: 0;
  }

  @media (max-width: $mobileMax) {
    margin-bottom: 43px;
  }
}

.bike-types__item--03 {

  @media (max-width: $tabletMax) {
    margin: 0;
  }

  @media (max-width: $mobileMax) {
    margin-bottom: 40px;
  }
}

.bike-types__photo {
  display: block;
  position: relative;
  margin-bottom: 13px;
  border-radius: 10px;

  @media (max-width: $tabletMax) {
    margin-bottom: 15px;
  }
}

.bike-types__photo img {
  position: inherit;
  background-color: $grey;

  @media (max-width: $tabletMax) {
    width: 270px;
    height: 300px;
  }
}

.bike-types__photo--01 {
  &::before {
    content: "";
    position: absolute;
    top: 156px;
    left: -60px;
    display: block;
    width: 180px;
    height: 180px;
    border: 27px solid $teal;
    border-radius: 50%;
    z-index: 0;
  }

  @media (max-width: $tabletMax) {
    &::before {
      width: 127px;
      height: 127px;
      border: 18px solid $teal;
      top: 201px;
      left: -37px;
    }
  }

  @media (max-width: $mobileMax) {
    &::before {
      top: 201px;
      left: -28px;
    }
  }
}

.bike-types__photo--02 {
  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 47px;
    height: 47px;
    border: 8px solid $teal;
    z-index: 1;
  }

  &::before {
    top: -18px;
    left: -18px;
  }

  &::after {
    bottom: -20px;
    right: -22px;
  }

  @media (max-width: $tabletMax) {
    &::before,
    &::after {
      display: none;
    }
  }
}

.bike-types__photo--03 {
  &::before {
    content: "";
    position: absolute;
    top: -32px;
    right: -36px;
    display: block;
    width: 95px;
    height: 95px;
    border: 17px solid $teal;
    border-radius: 50%;
    z-index: 1;
  }

  @media (max-width: $tabletMax) {
    &::before {
      width: 68px;
      height: 68px;
      border: 13px solid $teal;
      top: -20px;
      right: -25px;
    }
  }

  @media (max-width: $mobileMax) {
    &::before {
      right: -15px;
    }
  }
}
