.footer__address {
  padding: 29px 440px 98px 440px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tabletMax) {
    padding: 10px 105px 52px 105px;
  }
}

.footer__contact {
  font-style: normal;
  line-height: 22px;
  color: $blackOpacue05;
}
