.footer__address {
  padding: 24px 190px 98px 190px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 957px;

  @media (max-width: $tabletMax) {
    padding: 7px 65px 52px 65px;
    max-width: 698px;
  }

  @media (max-width: $mobileMax) {
    padding: 15px 22px 28px 22px;
    align-items: center;
    flex-direction: column;
  }
}

.footer__contact {
  display: flex;
  width: fit-content;
  font-style: normal;
  line-height: 22px;
  color: $blackOpacue05;

  & svg {
    margin-right: 15px;
    width: 26px;
    height: 26px;
    fill: none;
  }

  @media (max-width: $mobileMax) {
    margin-bottom: 22px;
  }
}

.footer__contact-email {
  margin-left: 7px;

  @media (max-width: $tabletMax) {
    margin-left: 5px;
  }
}

.footer__contact-phone {
  margin-right: 22px;

  @media (max-width: $tabletMax) {
    margin-right: 15px;
  }
}
