.header {
  margin-bottom: -62px;
  padding-top: 21px;
  max-width: 880px;
  background-color: transparent;

  @media (max-width: $tabletMax) {
    margin-bottom: -50px;
    padding: 50px 0 0 0 ;
  }
}

.header__nav {
  position: relative;
  padding: 0 19px 9px 19px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    height: 2px;
    width: 100%;
    background-color: $whiteOpacue02;
  }

  @media (max-width: $tabletMax) {
    display: none;
  }
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__nav-link {
  color: $whiteOpacue07;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.005em;
}

.header__nav-button {
  display: none;

  @media (max-width: $tabletMax) {
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 50px;
    min-height: 50px;
    border: none;
    background-color: $teal;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 8px);
      left: calc(50% - 11px);
      display: block;
      width: 22px;
      height: 1.5px;
      background-color: $black;
      box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
    }
  }
}
