.map {
  padding: 150px 0 15px 0;
  box-sizing: border-box;

  @media (max-width: $tabletMax) {
    padding-top: 70px;
  }
}

.map h2 {
  margin: 0 auto 30px auto;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  text-align: center;
  color: $dark2;

  @media (max-width: $tabletMax) {
    margin-bottom: 20px;
    font-size: 24px;
  }

  @media (max-width: $mobileMax) {
    font-size: 18px;
  }
}

.map span {
  margin: 0 auto 42px auto;
  display: block;
  max-width: 555px;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  color: $blackOpacue07;

  @media (max-width: $tabletMax) {
    margin-bottom: 20px;
    max-width: 630px;
  }

  @media (max-width: $mobileMax) {
    padding: 0 16px;
  }
}

.map span>br {
  display: none;

  @media (max-width: $mobileMax) {
    display: initial;
  }
}

.map__picture {
  margin: 0 auto;
  display: block;
  width: min-content;
}

.map__picture img {
  display: block;
  background-color: $grey;

  @media (max-width: $tabletMax) {
    width: 698px;
    height: 545px;
  }

  @media (max-width: $mobileMax) {
    width: 320px;
    height: 250px;
  }
}
