//Fonts
$openSans: "Open Sans", Arial, sans-serif;

//Breakpoints
$desktopMax: 1440px;
$desktopMin: 1024px;
$tabletMax: 1023px;
$tabletMin: 768px;
$mobileMax: 767px;
$mobileMin: 320px;

//Colours
$black: rgba(0, 0, 0, 1);
$blackOpacue05: rgba(0, 0, 0, 0.5);
$blackOpacue07: rgba(0, 0, 0, 0.7);
$white: rgba(255, 255, 255, 1);
$whiteOpacue02: rgba(255, 255, 255, 0.2);
$whiteOpacue07: rgba(255, 255, 255, 0.7);
$whiteOpacue08: rgba(255, 255, 255, 0.8);
$dark: rgba(31, 31, 31, 1);
$dark2: rgba(19, 19, 20, 1);
$grey: rgba(246, 247, 249, 1);
$grey2: rgba(201, 204, 212, 1);
$teal: rgba(10, 217, 198, 1);
